

<row>
  
  <div class="col-xs-6 left-content">
    <h1> Admins </h1>
     <p>当サイトはBand Man同士で新たな繋がり、新たな価値を創出お手伝い致します。</br>
       LIVEを開催したい、新たな地域でまだ知らぬバンドマンと出会いたい</br>
      さあ、あなたもBandをGatherしよう！！　⇒　Sign in。</p>
  </div>
  
  <div class="col-xs-6 left-content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "admins/shared/error_messages", resource: resource %>
    
    <%  %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    
    <%= render "admins/shared/links" %>
  </div>

</row>