<div class="modal fade" id="user-modal"></div>

<div class="row mb-4 mx-auto">
  <%= render 'public/users/user_header', user: @user,band: @band %>
</div>

<div class="row">
  <div class="col-lg-3 d-none d-md-block">
    <%= render 'public/users/article_content', band: @band,article: @article %>
    <% if current_live_house || current_admin || @user.current_user?(current_user) %>
      <%= render 'public/users/user_info', band: @band,user: @user %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <h2>Follow Users</h2>
    <% if @bands.exists? %>
      <table>
        <thead>
          <tr>
            <th>name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @bands.each do |band| %>
            <tr>
              <td><%= band.band_name %></td>
              <td>フォロー数: <%= band.followings.count %></td>
              <td>フォロワー数: <%= band.follower_ids.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </div>

  <div class="col-lg-3 col-md-4 my-3 d-none d-md-block">
    <%= render 'public/lives/live_info', gather_bands: @gather_bands %>
  </div>
</div>