<div class="container">
  <h1 id="hello">Hello World</h1>
    <div class="prev"></div>
    <div class="sliderbox">
        <ul class="sliderlist">
          <li class="sliderlist__item sliderlist__item1"><%= image_tag 'live1.jpg', width: '100%', height: '100%' %></li>
          <li class="sliderlist__item sliderlist__item2"><%= image_tag 'live2.jpg', width: '100%', height: '100%' %></li>
          <li class="sliderlist__item sliderlist__item3"><%= image_tag 'live3.jpg', width: '100%', height: '100%' %></li>
        </ul>
    </div>
    <div class="next"></div>
</div>


<section id="modal" class="hidden">
  <p>test</p>
  <%= link_to "Log in",new_user_session_path %>
  <div id="close">
    閉じる
  </div>
</section>

<div id="mask" class="hidden">
  
</div>



<% @lives.each do |live| %>
  <div class="card-list mx-auto">
    <div class="col-md-2 col-sm-5">
      <div class="card my-3" style="width: 15rem;">
        <%= link_to life_path(live) do %>
          <%= attachment_image_tag live, :live_image, size: "180x100", fallback: "no_image.png", size: "100%x100%", class:"card-img-top" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= live.live_name %></h5>
          <p class="card-text"><%= host_band(live).band_name %></p>
          <p class="card-text"><%= live.introduction.truncate(10) %></p>
          <%= link_to "Live info",life_path(live),class: "btn btn-dark" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
