<div class="live_image">
  <div id="images">
      <div class="live1"></div>
      <div class="live2"></div>
      <div class="live3"></div>
      <div class="live4"></div>
  </div>
</div>

  <div class="container mt-5">
    <div class="row">
      <% @lives.each do |live| %>
      <div class="card-list">

          <div class="col-2">
            <div class="card" style="width: 15rem;">
              <%= link_to life_path(live) do%>
                <%= attachment_image_tag @user, :profile_image, size: "100%x100%", fallback: "no_image.png", size: "100%x100%", class:"card-img-top" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= live.live_name %></h5>
                <p class="card-text"><%= live.introduction.truncate(10) %></p>
                <%= link_to "Go somewhere",life_path(live),class: "btn btn-dark" %>
              </div>
            </div>
          </div>
      </div>
      <% end %>
    </div>
  </div>