<div class="container">
    <div class="prev"></div>
    <div class="sliderbox">
      <ul class="sliderlist">
        <li class="sliderlist__item sliderlist__item1"><%= image_tag 'live1.jpg', width: '100%', height: '100%' %></li>
        <li class="sliderlist__item sliderlist__item2"><%= image_tag 'live2.jpg', width: '100%', height: '100%' %></li>
        <li class="sliderlist__item sliderlist__item3"><%= image_tag 'live3.jpg', width: '100%', height: '100%' %></li>
      </ul>
    </div>
    <div class="next"></div>
</div>

 <%= render "public/homes/login_modal" %>


<div class="container">
  <div class="live_info_image">
  <% 4.times { %>
    <div class="live_info_image_child">
      <%#= attachment_image_tag live, :live_image, size: "180x100", fallback: "no_image.png", size: "100%x100%" %>
      <%= image_tag 'no_image.png', :size => '220x170' %>
      <h2>ライブネーム</h2>
      <p>バンドネーム</p>
      <p>ライブイントロダクション</p>
    </div>
  <% } %>
</div>

<div class="container">
  <ul class="menu">
    <li><a href="#" class="active" data-id="ALive">ALL Live</a></li>
    <li><a href="#" data-id="GLive">Gathering Live</a></li>
    <li><a href="#" data-id="WLive">Waitting Live</a></li>
  </ul>
  
  <section class="content active" id="ALive">
    <table>
      <thead>
        <tr>
          <th>
            Live name  
          </th>
          <th>
            Host
          </th>
          <th>
            Schedule
          </th>
          <th>
            Live House
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>A</td>
          <td>B</td>
          <td>C</td>
          <td>D</td>
        </tr>
      </tbody>
    </table>
  </section>
  
  <section class="content" id="GLive">
    <table>
      <thead>
        <tr>
          <th>
            Live name  
          </th>
          <th>
            Host
          </th>
          <th>
            Schedule
          </th>
          <th>
            Live House
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>c</td>
          <td>d</td>
          <td>e</td>
          <td>f</td>
        </tr>
      </tbody>
    </table>
  </section>
  
  <section class="content" id="WLive">
    <table>
      <thead>
        <tr>
          <th>
            Live name  
          </th>
          <th>
            Host
          </th>
          <th>
            Schedule
          </th>
          <th>
            Live House
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>g</td>
          <td>h</td>
          <td>i</td>
          <td>j</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>



<%= javascript_include_tag 'top.js' %>
