<div class="card border-primary mb-3 bg-transparent">
  <div class="card-header"><h3>Live History</h3></div>
  <div class="row card-body text-primary">
    <% gather_bands.finish_live.each do |gathered| %>
      <div class="card-title">
        <%= gathered.start_time %> <%= gathered.live_name %>
      </div>
    <% end %>
  </div>
</div>

<div class="card border-primary mb-3 bg-transparent">
  <div class="card-header bg-transparent"><h3>New live</h3></div>
  <div class="row card-body text-primary">
    <% gather_bands.waiting_live.each do |waiting_live| %>
      <div class="card-title">
        <%= waiting_live.start_time %> <%= waiting_live.live_name %>
      </div>
    <% end %>
  </div>
</div>

<div class="card border-primary mb-3 bg-transparent">
  <div class="card-header"><h3>Gathering Bands</h3></div>
  <div class="row card-body text-primary">
    <% gather_bands.gathering.each do |gathering| %>
      <div class="card-title">
        <%= gathering.start_time %> <%= gathering.live_name %>
      </div>
    <% end %>
  </div>
</div>