<div class="container">

  <div class="row">
    <div class="col-12">
    <%= form_with(model: @live, remote: true) do |f| %>
      <h1><%= current_user.band.band_name%></h1>
      <div class="form-group">
        <%= f.label :live_name, "Live名", class: "form-control-label"%>
        <%= f.text_field :live_name, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :live_house_id, "Live House名", class: "form-control-label"%>
        <%= f.select :live_house_id, @live_houses.map{ |live_house| [live_house.house_name, live_house.id ]}, class:"form-control selecthouse" %>
      </div>

      <div>
        <div id="price_area">
          <% @live_houses.each do |live_house| %> <!-- 登録されているLiveHouseをEachで回す-->
            <% if live_house.id == @live_houses.first.id %> <!-- 最初のIDだけ表示する。 -->
            <div id="price_area_<%=live_house.id%>" class="live_house_price" style="display:block;"><%=live_house.price%>円</div>
            <% else %> <!-- 最初以外は非表示にする。 -->
            <div id="price_area_<%=live_house.id%>" class="live_house_price" style="display:none;"><%=live_house.price%>円</div>
            <% end %>
          <% end %>
        </div>
      </div>

      <%= link_to "calendar",calendar_path, remote: true, class: "btn btn-lg, btn-primary" %>

      <div class="modal fade" id="new_live">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New live</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="calendar_wrapper">
                <div id="calendar">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :start_at, "開始時間", class: "form-control-label"%>
        <%= f.text_field :start_at, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :end_at, "終了時間", class: "form-control-label"%>
        <%= f.text_field :end_at, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :amount, "募集バンド数", class: "form-control-label"%>
        <%= f.select :amount, options_for_select(2..10), class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :introduction, "ライブ詳細", class: "form-control-label"%>
        <%= f.text_area :introduction , class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "入力完了", class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>

</div>

<script>


$(function($) {
  $('select#live_live_house_id').change(function() {
    if ($(this).val() != '') {
      $('#calendar').remove();  // 大本の<div id="calendar">を削除
      var el = document.createElement('div'); // divタグを作成(<div>)
      el.id = 'calendar';// 作成したDivタグにIDを割り振る<div id="calendar">
      parent = document.getElementById("calendar_wrapper"); // 挿入先の親となるDivタグ(<div id="calendar_wrapper">)を取得
      parent.appendChild(el); // <div id="calendar_wrapper"><div id="calendar"></div></div>という形になるように追加
      draw_calendar(); // カレンダーの描画
      
      var current_id = document.getElementById("live_live_house_id").value; // 選択されたLiveHouseのIDを取得する
      var docs = document.getElementsByClassName("live_house_price"); // class="live_house_price"が設定されているエレメントを取得する
      Array.from(docs).forEach(function(element) {
        if (element.id == "price_area_" + current_id) {
          element.style.display = "block";
        } else {
          element.style.display = "none";
        }
      });
    }
  });
});

draw_calendar();
function draw_calendar() {
   var current_id = document.getElementById("live_live_house_id").value;

   $('#calendar').fullCalendar({
     selectable: true,
     header: {
       left: 'prev,next today',
       center: 'title',
       right: 'month,agendaWeek,agendaDay'
     },
     events: "/live_houses/" + current_id + ".json",//"lives/new.json"
     validRange: function(nowDate){
       return {
       start: nowDate.clone().add(6, 'months'),
       end: nowDate.clone().add(24, 'months')
       };
     },

     color: 'yellow',
     textColor: 'black',

     select: function(startDate, endDate) {
       $('#new_live').modal('show');
       $(".input-start").val(moment(startDate).format("YYYY-MM-DD HH:mm"));
       $(".input-end").val(moment(endDate).format("YYYY-MM-DD HH:mm"));
     }
   });
}
</script>