<div class="card-list">
  <div class="card mx-auto mt-4 shadou-lg">
    <div class="card-body row">
      <div class="col-3 text-center">
        <%= attachment_image_tag @host_band.user, :profile_image, fallback: "no_image.png", class:"rounded-circle img-fluid" %>
      </div>
      <div class="col-9">
        <div class="row">
          <h1><%= @live.live_name%></h1>
        </div>
        <div>
          <table>
            <tbody>
              <tr>
                <td>ホスト名</td>
                <td>：<%= link_to @host_band.band_name, mypage_path(@host_band.user)%></td>
              </tr>
              <tr>
                <td>メンバー</td>
                <td>
                ：<%= @host_band.member_name_role %>
                </td>
              </tr>
              <tr>
                <td>募集人数</td>
                <td>：<%= @live.amount %>バンド</td>
              </tr>
              <tr>
                <td>一人あたり費用</td>
                <td>：<%= converting_to_jpy(@live.price_per_person) %></td>
              </tr>
              <tr>
                <td>開催場所</td>
                <td>：<%= link_to @live.live_house.house_name, live_house_path(@live.live_house) %></td>
              </tr>
              <tr>
                <td>開催日時</td>
                <td>：<%= @live.start_time %>
                </td>
              </tr>
              <tr>
                <td>info</td>
                <td>：<%= @live.introduction %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 text-right">
        <% unless current_live_house || current_admin || (user_signed_in? && current_user.band.id == @host_band.id) %>
          <%= form_with model: @live_new_organization, url:live_organizations_path, local:true do |f| %>
            <%= f.hidden_field :live_id, :value => @live.id%>
            <% if user_signed_in? %>
              <%= f.hidden_field :band_id, :value => current_user.band.id %>
            <% end %>
            <% if @live_organization_participants.count < @live.amount&&live_participate?(current_user.band,@live_organization_participants).empty? %>
              <%= f.submit "参加", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= render "participants" %>
    </div>
  </div>
</div>
