
<div>
<%= form_with model: @band, url: band_path(@band), local:true do |f| %>

 <div class="form-group">
   <%= f.label :band_name %>
   <%= f.text_field :band_name, class:"form-control" %>
 </div>

 <div class="members">
  <%# 8.times do %>
  <%= f.fields_for :members, @members do |member| %>
   <%= render "member_fields", f: member %>
  <% end %>
  <div class="links">
   <%= link_to_add_association "タグを追加", f, :members %>
  </div>
 </div>

<%= f.submit "create" %>
<% end %>

</div>
