<h1>Public::UserBands#edit</h1>
<p>Find me in app/views/public/user_bands/edit.html.erb</p>

<%= javascript_include_tag "javascript.js" %>

<%= form_with model: @band, url: band_members_path(@band), local:true do |f| %>
<%= f.label :band_name %>
<%= f.text_field :band_name %>

<%= f.fields_for :member, @band.members.build do |member| %>
  <%= member.label :role %>
  <%= member.text_field :role %>
  <%= member.label :name %>
  <%= member.text_field :name %>
<% end %>

<%= f.submit "create" %>
<% end %>