
<div class="row mb-4 mx-auto">
  <%= render 'public/users/user_header', user: @user,band: @band %>
</div>

<div class="row">
  <div class="col-md-3 mt-3">
    <%= link_to "new live", new_life_path, class: "btn btn-primary" %>
  </div>
  <div class="col-md-9">
    <div class="card-list">
      <% @lives.each do |live| %>
      <%= link_to life_path(live), class: "card-link" do%>
        <div class="card w-auto mx-auto mt-4 shadou-lg">
          <div class="card-body row">
            <div class="col-md-3 d-none d-md-block mx-auto">
              <%= attachment_image_tag live, :live_image, size: "120x120" , fallback: "no_image.png" ,
                size: "120x120" , class:"mt-2"%>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-8">
                  <h1><%= live.live_name%></h1>
                </div>
                <div class="col-4">
                  残り<span><%= live.rest_amount %></span>
                </div>
              </div>
              <div>
                <table>
                  <tbody>
                    <tr>
                      <td>ホスト名</td>
                      <td>：<%= live.live_organizations.find_by(host: true).band.band_name %></td>
                    </tr>
                    <tr>
                      <td>募集人数</td>
                      <td>：<%= live.amount %>バンド</td>
                    </tr>
                    <tr>
                      <td>参加バンド</td>
                      <td>：
                      <% if live.live_organizations.where(host: false).present? %>
                        <%= live.participant_band_name %>
                      <% else %>
                        No Band
                      <% end %>
                      </td>
                    </tr>
                    <tr>
                      <td>開催予定日</td>
                      <td>：<%= live.start_time %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
    <%= paginate @lives %>
  </div>
</div>
