  <div class="bands-content">
    <div class="row">
      <div class="col-sm-2">
        <%= attachment_image_tag @user, :profile_image, size: "50x50", fallback: "no_image.png", size: "50x50", class:"rounded-circle" %>
      </div>
      <div class="row col-sm-8">
        <h1 class="col-sm-3"><%= @band.band_name%></h1>

        <table class="col-sm-9">
          <tbody>
            <% @band.members.each do |member|%>
            <tr>
              <td style="width: 20%"></td>
              <td style="width: 30%"><%= member.role %></td>
              <td style="width: 20%">: <%= member.name %></td>
              <td style="width: 20%"></td>
            </tr>
            <% end %>
            <tr></tr>
          </tbody>
        </table>

      </div>
      <div class="col-sm-2">
        <%= link_to "Edit",edit_band_path(@band) , class: "btn btn-primary"%>
      </div>
    </div>
    <div class="row">
      <%= @user.user_name%>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <%= link_to followings_path do %><%= @band.followings.count %>フォロー中<% end %>
      </div>
      <div class="col-sm-2">
        <%= link_to followers_path do %><%= @band.follower_ids.count %>フォロワー<% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= link_to "new live", new_life_path, class: "btn btn-primary" %>
    </div>
    <div class="col-md-9">
      <div class="card-list">
        <% @lives.each do |live| %>
        <%= link_to life_path(live), class: "card-link" do%>
          <div class="card w-auto mx-auto mt-4 shadou-lg">
            <div class="card-body row">
              <div class="col-3">
                <%= attachment_image_tag live, :live_image, size: "120x120" , fallback: "no_image.png" ,
                  size: "120x120" , class:"mt-2"%>
              </div>
              <div class="col-9">
                <div class="row">
                  <div class="col-8">
                    <h1><%= live.live_name%></h1>
                  </div>
                  <div class="col-4">
                    残り<span><%= live.rest_amount %></span>
                  </div>
                </div>
                <div class="row">
                  <table>
                    <tbody>
                      <tr>
                        <td>ホスト名</td>
                        <td>：<%= live.live_organizations.find_by(host: true).band.band_name %></td>
                      </tr>
                      <tr>
                        <td>募集人数</td>
                        <td>：<%= live.amount %>バンド</td>
                      </tr>
                      <tr>
                        <td>参加バンド</td>
                        <td>：
                        <% if live.live_organizations.where(host: false).present? %>
                          <%= live.participant_band_name %>
                        <% else %>
                          No Band
                        <% end %>
                        </td>
                      </tr>
                      <tr>
                        <td>開催予定日</td>
                        <td>：<%= live.start_time %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
      <%= paginate @lives %>
    </div>
  </div>
