<h1>Public::UserBands#index</h1>
<p>Find me in app/views/public/user_bands/index.html.erb</p>

<div>
バンド名：<%= @band.band_name%></br>
ユーザー：<%= @user.user_name%></br>
メンバー：
<% @members.each do |member|%>
<%= member.role%>
<%= member.name%>
<% end %>
<%= link_to "Edit",edit_band_path(@band) %>
</div>

<div>
<% @bands.each do |band| %>
<div>
<%= band.band_name%>
<%= band.user.user_name%>
</div>
<% end %>
</div>