<div class="container">
  <div class="bands-content">
    <div class="row">
      <div class="col-sm-2">
        <%= attachment_image_tag @user, :profile_image, size: "50x50", fallback: "no_image.png", size: "50x50", class:"rounded-circle" %>
      </div>
      <div class="col-sm-8">
        <h1>
        <%= @band.band_name%>
        </h1>
      </div>
      <div class="col-sm-2">
        <%= link_to "Edit",edit_band_path(@band) , class: "btn btn-primary"%>
      </div>
    </div>
    <div class="row">
      <%= @user.user_name%>
    </div>
    <div class="row">
      <div class="col-sm-2">
        フォロー中
      </div>
      <div class="col-sm-2">
        フォロワー
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      search:
      <%= link_to "new live", new_life_path, class: "btn btn-primary" %>
    </div>
    <div class="col-sm-8">
      <div class="card-list">
        <% @lives.each do |live| %>
        <%= link_to life_path(live), class: "card-link" do%>
          <div class="card w-auto mx-auto mt-4 shadou-lg">
            <div class="card-body row">
              <div class="col-2">
                <%#= attachment_image_tag article.band.user, :profile_image, size: "60x60" , fallback: "no_image.png" ,
                  size: "60x60" , class:"mt-2 rounded-circle"%>
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-10">
                    <h1><%= live.live_name%></h1>
                  </div>
                  <div class="col-2">
                    残り<span><%= live.rest_amount %></span>
                  </div>
                </div>
                <div class="row">
                  <table>
                    <tbody>
                      <tr>
                        <td>ホスト名</td>
                        <td>：<%= live.live_organizations.find_by(host: true).band.band_name %></td>
                      </tr>
                      <tr>
                        <td>募集人数</td>
                        <td>：<%= live.amount %></td>
                      </tr>
                      <tr>
                        <td>現在の参加バンド</td>
                        <td>：<%#= live.live_organizations.where(host: false) %></td>
                      </tr>
                      <tr>
                        <td>開催予定日</td>
                        <td>：Open <%= live.start_at.strftime("%Y/%m/%d(%a) %H:%M") %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
      <%= paginate @lives %>
    </div>
  </div>
</div>
