<h1>Article::Articles#index</h1>
<p>Find me in app/views/public/posts/index.html.erb</p>

<%= form_with model:@article, url:articles_path,local:true do |f| %>
<%= @user.band.band_name%>

<%= f.hidden_field :band_id, :value => @user.band.id %>
<%= f.text_field :content %>
<%= f.submit "投稿"%>
<% end %>


<% @articles.each do |article| %>
<%= article.band.band_name%>
<%= link_to article.content,article_path(article) %>
<% end %>