<div class="container">


  <div>
    
  </div>
  <div class="row">
    <div class="col-3">
      <%= attachment_image_tag @article.band.user, :profile_image, size: "60x60" , fallback: "no_image.png" ,size: "60x60" , class:"mt-2 rounded-circle"%>  
    </div>
    
    <div class="col-9">
     <%= link_to @article.band.band_name, mypage_path(@article.band.user) %>
    </div>
  </div>
  
  <div class="row">
    <%= @article.content %>
  </div>

  <div id="iine">
    <%= render "favorite", article: @article %>
  </div>


  <%= form_with(model: [@article, @comment], local: true) do |f|%>
    <%= f.text_area :content%>
    <%= f.submit "返信"%>
  <% end %>

  <div>
    <% @comments.each do |comment|%>
    <div>
      <%= comment.content%>
    </div>
    <% end %>
  </div>


</div>