<div class="container">

  <div class="modal fade" id="user-modal"></div>

  <div class="row mb-4 mx-auto">
    <%= render 'public/users/user_header', user: @user,band: @band %>
  </div>

  <div class="row">
    <div class="col-lg-3 d-none d-md-block">
      <% if current_live_house || current_admin || @user.current_user?(current_user) %>
        <%= render 'public/users/user_info', band: @band,user: @user %>
      <% end %>
    </div>

    <div class="col-lg-6 col-md-8">
      <div class="row">
        <div class="col-3">
          <div class="row mx-auto">
            <%= attachment_image_tag @article.band.user, :profile_image, size: "60x60" , fallback: "no_image.png" ,size: "60x60" , class:"mt-2 rounded-circle"%>
          </div>
          <div class="row mx-auto text-center">
            <%= link_to @article.band.band_name, mypage_path(@article.band.user) %>
          </div>
        </div>
        <div class="col-9 align-items-center">
           <%= @article.content %>
        </div>
      </div>
      <div class="row">
        <div id="iine<%=@article.id%>" class="col-4">
          <%= render "favorite", article: @article %>
        </div>
        <div class="col-4">
          <%= @article.comments.count %>コメント
        </div>
      </div>
      <%= form_with(model: [@article, @comment], local: true) do |f|%>
        <div class="form-group row">
          <%= f.text_area :content, class:"form-control-plaintext text-white",placeholder:"comment" %>
          <%= f.hidden_field :article_id, value: @article.id %>
        </div>
        <%= f.submit "返信", class:"btn btn-primary mb-3 " %>
      <% end %>

      <% @comments.each do |comment|%>
        <div class="border-top border-top border-white py-3 col-12">
          <div class="row">
            <div class="col-2">
              <div class="row">
                <%= attachment_image_tag comment.band.user, :profile_image, size: "30x30", fallback: "no_image.png", size: "30x30", class:"rounded-circle" %>
              </div>
              <div class="row">
                <%= link_to comment.band.user.user_name, mypage_path(comment.band.user) %>
              </div>
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col-12">
                  <%= comment.content %>
                </div>
              </div>
              <% if @user.current_user?(comment.band.user) %>
                <div class="row">
                  <div class="col-3 offset-9">
                    <%= link_to "削除",article_comment_path(comment),method: :delete %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-3 col-md-4 my-3 d-none d-md-block">
      <%= render 'public/lives/live_info', gather_bands: @gather_bands %>
    </div>
  </div>
</div>