<h1>Public::Posts#show</h1>
<p>Find me in app/views/public/posts/show.html.erb</p>

<div>
 <%= @article.content %>
 <% @comments.each do |comment|%>
  <%= comment.content%>
 <% end %>
</div>

<div id="iine">
  <%= render "favorite", article: @article %>
</div>


<%= form_with(model: [@article, @comment], local: true) do |f|%>
  <%= f.text_area :content%>
  <%= f.submit "コメントする"%>
<% end %>


