<div class="container">

  <div>
    <div>
     <%= @article.band.band_name %>
    </div>
    <div>
     <%= @article.content %>
    </div>
  </div>

  <div id="iine">
    <%= render "favorite", article: @article %>
  </div>

  <%= form_with(model: [@article, @comment], local: true) do |f|%>
    <%= f.text_area :content%>
    <%= f.submit "返信"%>
  <% end %>

  <div>
    <% @comments.each do |comment|%>
    <div>
      <%= comment.content%>
    </div>
    <% end %>
  </div>


</div>