<div class="row mb-3">
  <h2 class="offset-sm-2">Sign up</h2>
</div>

<%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
  <%= render "devise/live_houses/shared/error_messages", resource: resource %>

  <div class="form-group row offset-md-2">
    <%= f.label :image, class:"col-md-2" %>
    <div class="col-md-6">
      <%= f.attachment_field :image, autofocus: true, autocomplete: "image", class:"form-control-file" %>
    </div>
  </div>

  <div class="form-group row offset-md-2">
    <%= f.label :name, class:"col-md-2" %><br />
    <div class="col-md-6">
      <%= f.text_field :house_name, autofocus: true, autocomplete: "house_name", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row offset-md-2">
    <%= f.label :price, class:"col-md-2" %><br />
    <div class="col-md-6">
      <%= f.text_field :price, autofocus: true, autocomplete: "price", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row offset-md-2">
    <%= f.label :Postal_Code, class:"col-md-2" %><br />
    <div class="col-md-6">
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row offset-md-2">
    <%= f.label :TEL, class:"col-md-2" %><br />
    <div class="col-md-6">
      <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row offset-md-2">
    <%= f.label :address, class:"col-md-2" %><br />
    <div class="col-md-6">
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row offset-md-2">
    <%= f.label :website, class:"col-md-2" %><br />
    <div class="col-md-6">
      <%= f.text_field :website, autofocus: true, autocomplete: "website", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row offset-md-2">
    <%= f.label :email, class:"col-md-2"%><br />
    <div class="col-md-6">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>
  </div>

  <div class="form-group row offset-md-2">
    <div class="field col-md-4">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
    </div>
    <div class="field col-md-4">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control"%>
    </div>
  </div>

  <div class="actions offset-md-8">
    <%= f.submit "Sign up", class:"btn btn-primary" %>
  </div>
<% end %>

<div class="offset-sm-2 offset-md-8 mb-2">
  <%= render "devise/live_houses/shared/links" %>
</div>

