<div class="container">

  <div class="modal fade" id="user-modal"></div>

  <div class="row mb-4">
    <div class="col-sm-4 text-center">
      <div class="row mb-3">
        <div class="co-sm-4 offset-sm-4">
          <%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: "no_image.png", size: "100x100", class:"rounded-circle" %>
        </div>
      </div>
      <div class="row">
        <div class="col-4 offset-2"><%= @band.followings.count.to_s%>フォロー中</div>
        <div class="col-4"><%= @band.follower_ids.count%>フォロワー</div>
      </div>
    </div>
  　<div class="col-sm-4">
  　   <table>
        <tbody>
          <tr>
            <td><%= User.human_attribute_name(:user_name)%></td>
            <td> : <%= @user.user_name%></td>
          </tr>
          <tr>
            <td><%= User.human_attribute_name(:email)%></td>
            <td> : <%= @user.email%></td>
          </tr>
          <tr>
            <td><%= Band.human_attribute_name(:band_name)%></td>
            <td> : <%= @band.band_name%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card-list">
          <% @articles.each do |article| %>
            <%= link_to article_path(article), class:"card-link" do%>
            <div class="card w-auto mx-auto mt-4 shadou-lg">
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <%= attachment_image_tag article.band.user, :profile_image, size: "60x60" , fallback: "no_image.png" ,
                      size: "60x60" , class:"mt-2 rounded-circle"%>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <%= article.band.band_name%>
                    </div>
                    <div class="row">
                      <%= article.content%>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                   ♥<%= article.favorites.count %> いいね
                  </div>
                  <div class="col-3">
                    <%= article.comments.count %>コメント
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
          <%= paginate @articles %>
      </div>
    </div>

    <div class="col-6">

      <div class="row card border-primary mb-3 bg-transparent">
        <div class="card-header bg-transparent"><h3>New live</h3></div>
        <div class="card-body text-primary">
          <% @gather_bands.waiting_live.each do |waiting_live| %>
            <h5 class="card-title"><%= waiting_live.live_name %></h5>
            <%= waiting_live.start_at %>
          <% end %>
        </div>
      </div>

      <div class="row card border-primary mb-3 bg-transparent">
        <div class="card-header"><h3>Gathering Bands</h3></div>
        <div class="card-body text-primary">
          <% @gather_bands.gathering.each do |gathering| %>
            <div><%= gathering.start_time %>：<%= gathering.live_name %></div>
          <% end %>
        </div>
      </div>

      <div class="row card border-primary mb-3 bg-transparent">
        <div class="card-header"><h3>Live History</h3></div>
        <div class="card-body text-primary">
          <% @gather_bands.finish_live.each do |gathered| %>
            <h5 class="card-title"><%= gathered.live_name %></h5>
            <%= gathered.start_time %>
          <% end %>
        </div>
      </div>

      <div class="row card border-primary mb-3">
        <div class="card-header text-dark"><h3>User info</h3></div>
        <div class="card-body text-dark">
          <h5 class="card-title"><%= @user.user_name %></h5>

          <table>
            <tbody>
              <tr>
                <td>email</td>
                <td>：<%= @user.email%></td>
              </tr>
              <tr>
                <td>name</td>
                <td>：<%= @user.name%></td>
              </tr>
              <tr>
                <td>Kana name</td>
                <td>：<%= @user.kana_name%></td>
              </tr>
              <tr>
                <td>Band name</td>
                <td>：<%= @band.band_name%></td>
              </tr>
              <tr>
                <td>Postal code</td>
                <td>：<%= @band.band_name%></td>
              </tr>
              <tr>
                <td>Address</td>
                <td>：<%= @user.address%></td>
              </tr>
              <tr>
                <td>Telephone number</td>
                <td>：<%= @user.telephone_number%></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>