<%= form_with model:article,local:true do |f| %>
  <div class="form-group">
    <%= f.label :content, @band_name %>
    <%= f.text_area :content, class:"form-control" %>
    <%= f.hidden_field :band_id, :value => band.id %>
  </div>
  <%= f.submit "投稿", class:"btn btn-primary"%>
<% end %>