<div class="row card border-primary my-3 d-none d-lg-block mx-auto" style="width: 15rem;">
  <div class="card-header text-dark"><h3>User info</h3></div>
  <div class="card-body text-dark">
    <h5 class="card-title"><%= user.user_name %></h5>
    <div class="offset-lg-8 col-lg-1">
      <%= link_to "Edit",edit_mypage_path(user), remote: true, class: "btn btn-lg, btn-primary" %>
    </div>
    <table>
      <tbody class="table-font-size">
        <tr>
          <td>email</td>
          <td>：<%= user.email%></td>
        </tr>
        <tr>
          <td>name</td>
          <td>：<%= user.name%></td>
        </tr>
        <tr>
          <td>Kana name</td>
          <td>：<%= user.kana_name%></td>
        </tr>
        <tr>
          <td>Band name</td>
          <td>：<%= band.band_name%></td>
        </tr>
        <tr>
          <td>Postal code</td>
          <td>：<%= band.band_name%></td>
        </tr>
        <tr>
          <td>Address</td>
          <td>：<%= user.address%></td>
        </tr>
        <tr>
          <td>Telephone number</td>
          <td>：<%= user.telephone_number%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>