<div class="background">
  <div class="profile-box">
    <div class="profile">
      <% @user ||= current_user %>
      <div>
        <%= attachment_image_tag user, :profile_image, size: "100x100", fallback: "no_image.png", size: "100x100", class:"icon" %>
      </div>
      <div>
        <h1><%= @user.user_name %></h1>
        <p><%= @user.band.band_name %></p>
        <ul>
          <li>
            <img src="img/blog.png" alt="ブログアイコン" 　width="20" height="20">
          </li>
          <li>
            <%= link_to edit_band_path(@band) do %><img src="img/photos.png" alt="写真アイコン" 　width="20" height="20"><% end %>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <ul>
        <li><%= link_to following_band_path(@user.band) do %><%= @user.band.following.count %>フォロー中<% end %></li>
        <li><%= link_to followers_band_path(@user.band) do %><%= @user.band.followers.count %>フォロワー<% end %></li>
      </ul>
    </div>
  </div>
</div>