
<h1>My Page</h1>
  <div class="nav justify-content-end mb-3">
  <%= link_to "Edit",users_mypage_edit_path,:onclick=>"window.open(this.href,'hoge', 'height=100, width=100');return false;", class:"btn btn-primary" %>
  </div>

<div class="row">
 <div class="col-4 text-center">
   <%= attachment_image_tag @user, :profile_image, size: "300x300", fallback: "no_image.png", size: "300x300" %>
 </div>

<div class="col-8">
<table class="table table-hover">
  <tbody>
    <tr>
      <td><%= User.human_attribute_name(:user_name)%></td>
      <td><%= @user.user_name%></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:email)%></td>
      <td><%= @user.email%></td>
    </tr>
    <tr>
      <td><%= Band.human_attribute_name(:band_name)%></td>
      <td><%= @user.band.band_name%></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:last_name)%></td>
      <td><%= @user.last_name%></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:first_name)%></td>
      <td><%= @user.first_name%></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:last_name_kana)%></td>
      <td><%= @user.last_name_kana%></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:first_name_kana)%></td>
      <td><%= @user.first_name_kana%></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:postal_code)%></td>
      <td><%= @user.postal_code%></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:address)%></td>
      <td><%= @user.address%></td>
    </tr>
    <tr>
      <td><%= User.human_attribute_name(:telephone_number)%></td>
      <td><%= @user.telephone_number%></td>
    </tr>
  </tbody>
</table>
</div>
</div>

