<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <title>GatherBands</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to GatherBands,root_path %>
      </h1>
      <div class="pc-menu">
        <nav>
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to "New",notifications_path %></li>
              <li><%= link_to "Lives",home_lives_path %></li>
              <li><%= link_to "Live Houses",live_houses_path %><li>
              <li><%= link_to "Mypage",mypage_path(current_user) %></li>
              <li><%= link_to "Bands",bands_path %></li>
              <li><%= link_to "Log out",destroy_user_session_path, method: :delete %>
            <% elsif admin_signed_in? %>
              <li><%= link_to "Users",admin_users_path %></li>
              <li><%= link_to "Live House",admin_live_houses_path, class:"nav-link"%></li>
              <li><%= link_to "Lives",admin_lives_path, class:"nav-link"%></li>
              <li><%= link_to "Log out",destroy_user_session_path, method: :delete %></li>
            <% elsif live_house_signed_in? %>
              <li><%= link_to "Live Schedule",live_house_schedules_path %></li>
              <li><%= link_to "My house",live_house_mypage_path(current_live_house) %></li>
              <li><%= link_to "Log out",destroy_live_house_session_path, method: :delete %></li>
            <% else %>
              <li class="modalopen">Log in</li>
              <li><%= link_to "Sign up",new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
      
      <div class="sp-menu">
        <span class="material-icons" id="open">menu</span>
      </div>
      
      
      
    </header>
    
    <div class="overlay">
      <span class="material-icons" id="close">close</span>
      <nav>
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "New",notifications_path %></li>
            <li><%= link_to "Lives",home_lives_path %></li>
            <li><%= link_to "Live Houses",live_houses_path %><li>
            <li><%= link_to "Mypage",mypage_path(current_user) %></li>
            <li><%= link_to "Bands",bands_path %></li>
            <li><%= link_to "Log out",destroy_user_session_path, method: :delete %>
          <% elsif admin_signed_in? %>
            <li><%= link_to "Users",admin_users_path %></li>
            <li><%= link_to "Live House",admin_live_houses_path, class:"nav-link"%></li>
            <li><%= link_to "Lives",admin_lives_path, class:"nav-link"%></li>
            <li><%= link_to "Log out",destroy_user_session_path, method: :delete %></li>
          <% elsif live_house_signed_in? %>
            <li><%= link_to "Live Schedule",live_house_schedules_path %></li>
            <li><%= link_to "My house",live_house_mypage_path(current_live_house) %></li>
            <li><%= link_to "Log out",destroy_live_house_session_path, method: :delete %></li>
          <% else %>
            <li class="modalopen">Log in</li>
            <li><%= link_to "Sign up",new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    
    <div class="container">
      <%= yield %>
    </div>

    <!--<div class="container">-->
    <!--  <footer class="footer">-->
    <!--    <small>-->
    <!--      Gather Bands by <a>Zhong Zhi</a>-->
    <!--    </small>-->
    <!--    <nav>-->
    <!--      <ul>-->
    <!--        <li><%#= link_to "Live House",new_live_house_session_path, class:"nav-link" %></li>-->
    <!--      </ul>-->
    <!--    </nav>-->
    <!--  </footer>-->
    <!--</div>-->
    
    
    <%= javascript_include_tag 'humbarger-menu.js' %>
    <%= javascript_include_tag 'login.js' %>
  </body>
</html>
