<!DOCTYPE html>
<html>
  <head>
    <title>GatherBands</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md  fixed-top navbar-light bg-light">
      <div class="container">
        <div class="navbar-brand">GatherBands</div>
    　  <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
         <li><%= link_to "Top",root_path, class:"nav-link" %></li>
         <li><%= link_to "mypage",users_mypage_path, class:"nav-link" %></li>
         <li><%= link_to "posts",articles_path, class:"nav-link" %></li>
         <li><%= link_to "bands",bands_path, class:"nav-link" %></li>
         <li><%= link_to "Log out",destroy_user_session_path, method: :delete, class:"nav-link" %></li>
        <% elsif admin_signed_in? %>
         <li><%= link_to "Log out",destroy_user_session_path, method: :delete, class:"nav-link"%></li>
        <% else %>
         <li><%= link_to "Sign up",new_user_registration_path, class:"nav-link" %></li>
         <li><%= link_to "Log in",new_user_session_path, class:"nav-link" %></li>
         <li><%= link_to "About",about_path, class:"nav-link" %></li>
         <li><%= link_to "live",lives_path, class:"nav-link" %></li>
        <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
      <footer class="footer">
        <small>
          The <a>Ruby on Rails Tutorial</a>
          by <a>Michael Hartl</a>
        </small>
        <nav>
          <ul class="navbar-nav ml-auto">
            <li><%= link_to "About", about_path, class:"nav-link" %></li>
            <li><%= link_to "Contact", class:"nav-link" %></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>
</html>
